@import './colors';
@import './typography';
@import './z-index';

$base-padding: 15px;
$max-site-width: 800px;
$site-width: calc(100% - #{$base-padding});

$breakpoint: 500px;

$navbar-height: 60px;
$sidebar-width: 300px;

$mobile-breakpoint: 768px;
