@import '../../assets/styles/variables/variables';

.ttDay {
  padding-top: $base-padding;
  padding-right: $base-padding;
  padding-bottom: $base-padding;
  padding-left: $sidebar-width + $base-padding;
}

.ttDay-eventList {
  max-width: 750px;
  margin: auto;
}

.ttDay-event {
  display: block;
}

.ttDay-sidebar {
  display: block;
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
}
