@import '../../../assets/styles/variables/variables';

.ttEventModal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal;
  background-color: transparentize($brand-secondary-darker, 0.8);
}

.ttEventModal {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: $z-index-modal;
  width: 550px;
  max-width: calc(100vw - #{$base-padding * 4});
  padding: $base-padding;
  background-color: white;
  box-shadow: 0 0 5px $grey-light;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transform: translateX(-50%);
}

.ttEventModal-input {
  width: 100%;
  padding: $base-padding / 2 0;
  font-size: $tt-fs-7;
  border: 0;

  &:focus {
    outline: 0;
  }
}

.ttEventModal-categories,
.ttEventModal-subcategories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ttEventModal-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(25% - #{$base-padding / 2});
  padding-top: $base-padding;

  @media screen and (max-width: $breakpoint) {
    flex: 0 0 calc(50% - #{$base-padding / 2});
  }
}

.ttEventModal-subcategory {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(25% - #{$base-padding / 2});
  padding-top: $base-padding;

  @media screen and (max-width: $breakpoint) {
    flex: 0 0 calc(50% - #{$base-padding / 2});
  }
}

.ttEventModal-categoryBtn,
.ttEventModal-subcategoryBtn,
.ttEventModal-saveEventBtn {
  width: 100%;
  padding: $base-padding / 2 $base-padding;
  font-size: $tt-fs-4;
  border: 1px solid transparent;
  border-radius: 4px;

  &:focus,
  &:hover {
    outline: 0;
  }

  @media screen and (max-width: $breakpoint) {
    font-size: $tt-fs-3;
  }
}

.ttEventModal-title + .ttEventModal-categories,
.ttEventModal-categories + .ttEventModal-subcategories {
  margin-top: $base-padding;
}

.ttEventModal-subcategories + .ttEventModal-footer {
  margin-top: $base-padding * 2;
}

.ttEventModal-saveEventBtn {
  color: $grey-light;
  background-color: white;
  border-color: $grey-light;
}
